export PATH=$PATH:$HOME/personal/ghostty/zig-out/bin
export PATH=$PATH:$HOME/.local/apps      # this is where i dump my fun programs...
export PATH=$PATH:$HOME/.local/scripts
export PATH=$PATH:$HOME/.local/bin
export PATH=$PATH:$HOME/.local/odin/
